extends layout

block content
  .container
    .columns.ssf-content.content
     .column.is-half.has-text-centered
        img#picture(src="images/picture.jpg", alt=resume.name)
     .column.is-3.has-text-centered
       .ssf-center-center
        p.title
          strong= resume.name
        p.subtitle #{resume.position}