extends layout

block content
  .container
   .row.header
    .col.s6.center-align
      img#picture(src="images/picture.jpg", alt=resume.name)
    .col.s6.center-align
      .row.valign
        h4= resume.name
      .row
        p #{resume.position}
