doctype html
html
  head
    title= title
    link(type="text/css", rel="stylesheet", href="css/materialize.min.css", media="screen, projection")
    link(type="text/css", rel="stylesheet", href="css/style.css", media="screen, projection")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    block content
    script(type="text/javascript")
      include js/jquery.min.js
      include js/materialize.min.js
