.ssf-content {
    margin-top: 30px;
}
.ssf-center-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%
}
#picture {
    width: 30%;
    border-radius: 10%;
}
.header {
    margin-top: 40px;
}
.ssf-is-very-large {
    font-size: 2.5rem;
}